# Игнорировать каталог tmp
tmp/
# Игнорировать файлы с суффиксом _old
*_old
# Игнорировать файлы с суффиксом _backup
*_backup
# Игнорировать файл Thumbs.db
Thumbs.db
# Игнорировать файл .DS_Store
.DS_Store